html, body, #root 
{
  height: 100%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html
{
  font-size: 62.5%;
}

html * 
{
  box-sizing: inherit;
}

body
{
  margin: 0;
  background: #F7F9F9;
}